<h1>Formulario</h1>

<form>
  
  <div>
    <input type="text" />
  
    <input type="text" value="valor x" />
  
    <input type="text" placeholder="your name" />
  </div>

  <div>
    <input type="number" value="5" min="1" max="10" />
  </div>

  <div>
    <input type="range" min="0" max="100">
  </div>

  <div>
    <input type="color" />
  </div>

  <div>
    <input type="date" />
  </div>

  <div>
    <textarea name="" id="" cols="30" rows="10"></textarea>
  </div>

  <div>
    Comidas:
    <select>
      <option> Comida Italiana</option>
      <option selected> Comida China</option>
      <option> Comida española</option>
    </select>
  </div>
  
  <div>
    <button type="submit">Guardar</button>
  </div>

</form>