<h1>Titulo Principal</h1>
<h2>Titulo 2</h2>
<p>algo de contenido</p>
<p>otra linea</p>
<br/>

<h1>Creando Enlaces</h1>
<p>Quiero que <a href="http:www.duckduckgo.com" target="_blank">esta frase</a> sea un enlace a Duckduckgo.com</p>
<br />

<h1>Imagenes</h1>
<p>la siguiente imagen:</p>
<img src="me.jpg" width="200px" height="200px"/>
<p>es muy bonita</p>
<br />

<h1>Listas</h1>
Tareas
<ul>
  <li>Tarea 1</li>
  <li>Tarea 2</li>
  <li>Tarea 3</li>
</ul>

Reuniones
<ol>
  <li>Tarea 1</li>
  <li>Tarea 2</li>
  <li>Tarea 3</li>
</ol>
<br />

<h1>Tablas</h1>
<h2>Reporte mensual</h2>
<table>
  <thead>

    <tr>
      <th>Mes</th>
      <th>Ventas</th>
      <th>Costos</th>
    </tr>

  </thead>

  <tbody>

    <tr>
      <td>Enero</td>
      <td>10000</td>
      <td>200</td>
    </tr>
  
    <tr>
      <td>Febrero</td>
      <td>10000</td>
      <td>200</td>
    </tr>
  
    <tr>
      <td>Marzo</td>
      <td>10000</td>
      <td>200</td>
    </tr>
    
  </tbody>

</table>