/* h2 {
  background-color: green;
} */

/* #interview {
  background-color: blue;
} */

body {
  background-color: #25272f;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-weight: bold;
}

.tile {
  width: 170px;
  height: 140px;
  margin: 5px;
  padding: 20px;
  float: left;
}

.tile-double {
  width: 390px;
  height: 140px;
  margin: 5px;
  padding: 20px;
  float: left;
}

.green {
  background-color: #13B2A3;
}

.red {
  background-color: #F16F51;
}

.yellow {
  background-color: #fdb45c;
}

.lightgrey {
  background-color: #f6f6f6;
  color: black;
}

.city-image {
  background-image: url("me.jpg");
  font-size: 20pt;
  
}

#main-container {
  max-width: 900px;
  min-width: 500px;
  margin: 0 auto;
}

#users-table {
  margin: 10px auto;
  font-weight: normal;
  width: 100%;
}

#users-table th {
  border-bottom: 1px solid #f6f6f6;
  padding: 2px;
  text-align: center;
}

#users-table td {
  padding: 2px;
  text-align: center;
}

.chart-total {
  font-size: 30pt;
  text-align: right;
}

.event-day {
  font-size: 55pt;
}

.event-hours {
  font-size: 10pt;
  font-style: italic;
  text-align: right;
  margin-right: 10px;
}

.tile-list li {
  margin-bottom: 5px;
  margin-left: 10px;
}

ul.tile-list li {
  list-style-type: disc;
}

ol.tile-list li {
  list-style-type: decimal;
}

.tile-list a {
  color: white;
  text-decoration: none;
}

.event-date {
  margin-top: 40px;
}

h2 {
  margin-bottom: 15px;
  font-size: 18pt;
}