*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}

section#galeria {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 299px;
  background-color: red;
}

section#galeria ul#cajaGaleria{
	position:relative;
	width:935px;
	margin:auto;
	top:18px;
	height:262px;
	background:white;
	box-shadow:0px 0px 30px #222;	
}

section#galeria ul#cajaGaleria li div{
	position:absolute;
	opacity:0;
	right:20px;
	top:22px;
	transition:all .2s ease-out;
	-webkit-transition:all .2s ease-out;
	-moz-transition:all .2s ease-out;
}

section#galeria ul#cajaGaleria li div#galeria00{
	opacity:1;
}

section#galeria ul#cajaGaleria li div h1{
	position:absolute;
	z-index:1;
	top:20px;
	left:20px;
	color:white;
	font-weight:100;
}

section#galeria ul#cajaGaleria li div p{
	position:absolute;
	z-index:1;
	bottom:4px;
	background:rgba(0,0,0,.4);
	color:white;
	width:97.2%;
	line-height:60px;
	padding-left:20px;
}

section#galeria ul#cajaGaleria li label{
	position:relative;
	z-index:3;
	width:151px;
	height:72px;
	top:22px;
	left:15px;
	margin:2px 0;
	cursor:pointer;
}

section#galeria ul#cajaGaleria li input{
	display:none;
}

input#btn01:checked ~ #galeria01{
	opacity:1;
	z-index:1;
}

input#btn02:checked ~ #galeria02{
	opacity:1;
	z-index:1;
}
	
input#btn03:checked ~ #galeria03{
	opacity:1;
	z-index:1;
}