*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}

header{
  position: relative;
  margin: 0 auto;
  width: 1000px;
  height: 150px;
  background-color: silver;
}

#menuTop {
  position: absolute;
  bottom: 0;
  width: 1000px;
  height: 42px;
  background-color: red;
}

.nivel1 {
  float: left;
  width: 19.2%;
  text-align: center;
  line-height: 42px;
  background-color: rgb(211, 0, 0);
  border: 4px solid white;
}

.nivel1 a{
  color: white;
}

.nivel1:hover {
  background-color: blueviolet;
}

.nivel2 {
  position: relative;
  left: -4px;
  width: 100%;
  text-align: center;
  line-height: 42px;
  border-top: 4px solid white;
  border-left: 4px solid white;
  border-right: 4px solid white;
  background-color: silver;
  color: black;
}

.nivel2:hover {
  background-color: blue;
  transition: background-color .5s ease-out;
}

#menuTop ul li ul {
  display: none;
}

#menuTop ul li:hover ul {
  display: block;
}