*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}

nav#botoneraMovil{
  position: absolute;
  width: 90%;
  height: auto;
  background-color: white;
  top: 45px;
  left: -100%;
  transition: left .5s;
}

nav#botoneraMovil ul li{
  width: 100%;
  line-height: 40px;
  text-align: center;
  border: 1px solid white;
  background-color: silver;
}

nav#botoneraMovil ul li:hover {
  background-color: rgb(100, 98, 98);
}

label#labelMovil span {
  margin: 2px;
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: url(../img/boton1.jpg) no-repeat;
}

label#labelMovil span:hover {
  background: url(../img/boton2.jpg) no-repeat;
}

input#botonMovil {
  display: none;
}

label#labelMovil h2 {
  position: absolute;
  top: 10px;
  left: 50px;
}

input#botonMovil:checked + label#labelMovil span {
  background: url(../img/boton3.jpg) no-repeat;
}

input#botonMovil:checked ~ nav#botoneraMovil {
  left: 0;
}