/* GLOBAL */
*{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-decoration: none;
  font-family: sans-serif;
  box-sizing: border-box;
}

.contenedor{
  position: relative;
  margin: auto;
  width: 100%;
  height: auto;
}

.fila{
  position: relative;
  margin: auto;
  width: 100%;
  height: auto;
  clear: both; 
  display: table;
}

[class*="col-"]{
  float: left;
  border: 1px solid black;
  padding: 20px;
}

.col-12{
  width: 100%;
  /* background-color: darkorange; */
}

.col-11{
  width: 91.66666667%;
}

.col-10{
  width: 83.33333333%;
}

.col-9{
  width: 75%;
  /* background-color: darkorange; */
}

.col-8{
  width: 66.66666667%;
}

.col-7{
  width: 58.33333333%;
}

.col-6{
  width: 50%;
  /* background-color: green; */
}

.col-5{
  width: 41.66666667%;
}

.col-4{
  width: 33.33333333%;
  /* background-color: brown; */
}

.col-3{
  width: 25%;
  /* background-color: brown; */
}

.col-2{
  width: 16.66666667%;
  /* background-color: brown; */
}

.col-1{
  width: 8.33333333%;
  /* background-color: brown; */
}