/* GLOBAL */
*{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-decoration: none;
  font-family: sans-serif;
  box-sizing: border-box;
}

.contenedor{
  position: relative;
  margin: auto;
  width: 100%;
  height: auto;
}

.fila{
  position: relative;
  margin: auto;
  width: 100%;
  height: auto;
  clear: both; 
  display: table;
}

[class*="col-"]{
  float: left;
  border: 1px solid black;
  padding: 20px;
}

/* mediaCSS lg */
@media(min-width:1200px){
  
  .col-lg-12{ width: 100%; }
  .col-lg-11{ width: 91.66666667%; }
  .col-lg-10{ width: 83.33333333%; }
  .col-lg-9{ width: 75%; }
  .col-lg-8{ width: 66.66666667%; }
  .col-lg-7{ width: 58.33333333%; }
  .col-lg-6{ width: 50%; }
  .col-lg-5{ width: 41.66666667%; }
  .col-lg-4{ width: 33.33333333%; }
  .col-lg-3{ width: 25%; }
  .col-lg-2{ width: 16.66666667%; }
  .col-lg-1{ width: 8.33333333%; }

}

/* mediaCSS md */
@media(min-width:992px) and (max-width: 1199px){
  
  .col-md-12{ width: 100%; }
  .col-md-11{ width: 91.66666667%; }
  .col-md-10{ width: 83.33333333%; }
  .col-md-9{ width: 75%; }
  .col-md-8{ width: 66.66666667%; }
  .col-md-7{ width: 58.33333333%; }
  .col-md-6{ width: 50%; }
  .col-md-5{ width: 41.66666667%; }
  .col-md-4{ width: 33.33333333%; }
  .col-md-3{ width: 25%; }
  .col-md-2{ width: 16.66666667%; }
  .col-md-1{ width: 8.33333333%; }

}

/* mediaCSS sm */
@media(min-width:768px) and (max-width: 991px){

  .col-sm-12{ width: 100%; }
  .col-sm-11{ width: 91.66666667%; }
  .col-sm-10{ width: 83.33333333%; }
  .col-sm-9{ width: 75%; }
  .col-sm-8{ width: 66.66666667%; }
  .col-sm-7{ width: 58.33333333%; }
  .col-sm-6{ width: 50%; }
  .col-sm-5{ width: 41.66666667%; }
  .col-sm-4{ width: 33.33333333%; }
  .col-sm-3{ width: 25%; }
  .col-sm-2{ width: 16.66666667%; }
  .col-sm-1{ width: 8.33333333%; }

}


/* mediaCSS xs */
@media(max-width: 767px){

  .col-xs-12{ width: 100%; }
  .col-xs-11{ width: 91.66666667%; }
  .col-xs-10{ width: 83.33333333%; }
  .col-xs-9{ width: 75%; }
  .col-xs-8{ width: 66.66666667%; }
  .col-xs-7{ width: 58.33333333%; }
  .col-xs-6{ width: 50%; }
  .col-xs-5{ width: 41.66666667%; }
  .col-xs-4{ width: 33.33333333%; }
  .col-xs-3{ width: 25%; }
  .col-xs-2{ width: 16.66666667%; }
  .col-xs-1{ width: 8.33333333%; }

}
