*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: 'Mulish', sans-serif;
}

#chat{
  position: fixed;
  bottom: 0;
  right: 20px;
  width: 250px;
  height: 40px;
  background-color: magenta;
  z-index: 1;
  color: white;
  text-align: center;
  line-height: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  border-radius: 20px 20px 0 0;
  cursor: pointer;
}

header{
  position: relative;
  margin: 20px auto;
  width: 1000px;
  height: 120px;
  /* background-color:#444; */
}

#logo{
  position: absolute;
  top: 30px;
  left: 30px;
  width: 200px;
  height: 60px;
  /* background-color: #ccc; */
  font-size: 40px;
  text-align: center;
  line-height: 60px;
}

#icono1{
  top: 42px;
  right: 120px;
  background-color: blue;
}

#icono2{
  top: 42px;
  right: 71px;
  background-color: green;
}

#icono3{
  top: 42px;
  right: 19px;
  background-color: red;
}

.redes{
  position: absolute;
  width: 42px;
  height: 42px;
  background-color: #ccc;
  border-radius: 100%;
  text-align: center;
  line-height: 42px;
  color: white;
}

nav{
  position: relative;
  margin: auto;
  width: 1000px;
  height: 48px;
}

.botones{
  float: left;
  margin: 0px 2px;
  width: 196px;
  height: 48px;
  background-color: rgb(131, 130, 130);
  color: white;
  text-align: center;
  line-height: 48px;
}

a .botones:hover{
  background-color: white;
  color: black;
}

a .botones:active{
  color: red;
}

#top{
  position: relative;
  margin: 20px auto;
  width: 1000px;
  height: 192px;
}

#top ul {
  width: 1010px;
  height: 192px;
}

#top ul li {
  float: left;
  height: 192px;
  width: 326px;
  /* background-color: #aaa; */
  margin-right: 10px;
  text-align: center;
}

#top ul li img{
  border-radius: 100px;
  height: 100px;
}

#top ul li p{
  font-size: 14px;
  margin: 10px;
}


section{
  position: relative;
  margin: auto;
  width: 1000px;
  height: 453px;
  /* background-color: #aaa; */
}

aside#izq{
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 453px;
  /* background-color: #aaa; */
}

aside#izq ul li{
  background-color: #aaa;
  padding: 10px;
  margin: 2px 10px;
  list-style: square;
  list-style-position: inside;
  list-style-image: url(img/lista.png);
}

aside#izq ul li a{
  text-decoration: none;
  color: white;
}

article{
  position: absolute;
  top: 0;
  left: 200px;
  height: 453px;
  width: 600px;
  /* background-color: #444; */
}

article h1{
  font-size: 40px;
  margin: 20px;
}

article p img{
  float: left;
  margin-right: 20px;
}

article p{
  float: left;
  margin: 5px 20px;
  font-size: 14px;
  text-align: justify;
}

aside#der{
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 453px;
  /* background-color: #aaa; */
}

aside#der h1{
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: rgb(131, 130, 130);
  color: white;
  margin-bottom: 5px;
  /* background-color: #aaa; */
}

aside#der input{
  padding: 10px;
  margin: 5px 0;
  width: 177px;
}

aside#der input[type="text"]{
  background: url(./img/usuario.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

aside#der input[type="password"]{
  background: url(./img/password.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

aside#der input[type="submit"]{
  width: 200px;
  background-color: darkcyan;
  border: 0;
}

footer{
  position: relative;
  margin: 20px auto;
  width: 1000px;
  height: 70px;
  background-color: rgb(131, 130, 130);
  text-align: center;
  line-height: 70px;
  color: white;
}
